
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Denied</title>
</head>
<body>
    <h1>
        You Have No Permission to access this Content <br />
        Please Contact with Admin
    </h1>
</body>
</html>
